#newgamebutton {
    margin: .5em;
    width: 8em;
}

.explanation {
    margin: .5em;
    margin-left: 25%;
    margin-right: 25%;
}

.content {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}