<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">3xams</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
      </ul>
      <div ng-if="session.user" class="d-flex" style="color:white">
        Welcome {{session.user.name}} &nbsp;&nbsp;| &nbsp;&nbsp;
        <a style="color:white" href="#" ng-click="session.logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
<alerts></alerts>
<main class="container" ui-view></main>
